.body {
    margin: 0;
}

.container {
  width: 1272px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  height: 275px;
  background-color: #445161;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;      
}
.main-header-wrp {
    margin-left: 50px;
    margin-top: 25px;
    color: #fff;
}

.main-header-title {
font-family: ArialMT;
font-size: 60px;
line-height: 70px;
margin-bottom: 35px;
}

.main-header-list {
    margin: 0;
    padding-left: 21px;
    list-style-type: none;
    position: relative;
}

.main-header-list-item {
  padding-top: 5px;
  padding-bottom: 5px; 
  font-size: 20px;
  position: relative;
}

.main-header-list li:before {
    content: '';
    background: url(../img/Vector.png) no-repeat left bottom;
    width: 16px;
    height: 13px;
    position: absolute;
    left: -21px;
    bottom: 10px;
}

.main-header-img-container {
    max-width: 472px;
    max-height: 217px;
    margin-top: 25px;
    margin-right: 50px;
}

.main-header-img {
    width: 100%;
    height: 100%;
    display: block;
}

.about-product {
  margin: auto;
  width: 1272px;
  height: 340px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;      
}

.about-product-text {
  margin-top: 45px;
  margin-left: 50px;
  max-width: 646px;
}

.video {
    width: 100%;
    height: auto;
    background-color: #ccc;
}

.video-container {
    width: 430px;
    height: 245px;
    margin-right: 50px;
    margin-top: 45px;
}

.content .about-product h2 {
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.content .about-product p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
.dignity {
    background-color: #f5f5f5;
    margin: auto;
    width: 1272px;
    height: 400px;
}
.dignity h2 {
    margin-top: 25px;
    margin-left: 458px;
    font-size: 30px;
}
.dignity-cols {
    display: flex;
    justify-content: space-between;
    padding-left: 92px;
    padding-right: 20px;
}

.dignity-col {
    max-width: 534px;
}

.dignity-col p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 26px;
    line-height: 24px;
    position: relative;
}

.dignity-col p:before {
    content: '';
    background: url(../img/plus-icon.png) no-repeat left center;
    position: absolute;
    left: -42px;
    width: 34px;
    height: 35px;
    
}

.screenshots {
    margin: auto;
    width: 1272px;
    height: 490px;
}
.screenshots h2 {
    margin-top: 25px;
    margin-left: 551px;
    font-size: 30px;    
}

.screenshots h3 {
    font-size: 24px;
}

.screenshots-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.screenshots-text {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 50px;
    margin-bottom: 27px;
}

.screenshots-img-1 {
    width: 202px;
    height: 153px;
    background-image: url(../img/pexels-alena-shekhovtcova-4019301.jpg);
    background-size: 180px 120px;
}

.screenshots-img-2 {
    width: 202px;
    height: 153px;
    background-image: url(../img/pexels-alleksana-4239736.jpg);
    background-size: 202px 153px;
    background-repeat: round;
}

.screenshots-img-3 {
    width: 202px;
    height: 153px;
    background-image: url(../img/pexels-eugene-golovesov-3906084.jpg);
    background-attachment: fixed;
}

.screenshots-img-4 {
    width: 202px;
    height: 153px;
    background-image: url(../img/pexels-tomas-anunziata-3876308.jpg);
    background-position: center;
}

.screenshots-text figcaption p {
    font-size: 16px;
}

.screenshots-descr {
    padding-left: 14px;
    max-width: 339px;
}

.screenshots-descr h3 {
    margin-top: 0px;
    line-height: 30px;
    font-size: 24px;
}

.reviews {
    margin: auto;
    width: 1272px;
    height: 400px;
    background: #F5F5F5;
}
.reviews-contents {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.reviews-text {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 24px;
}

.reviews-text:nth-child(odd) {
    margin-left: 62px;
    margin-right: 15px;
}

.reviews-text:nth-child(even) {
    margin-right: 50px;
}

.reviews-img {
    display: block;
    border-radius: 66px;
    background-color: #445161;
    width: 66px;
    height: 66px;
}

.reviews-descr {
    max-width: 458px;
    background: #EBEBEB;
    margin-left: 10px;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 28px;
    border-radius: 5px;
    font-style: italic;
}

.reviews h2 {
  text-align: center;    
  font-size: 30px;
}

.prices {
    margin: 0 auto;
    width: 1272px;
    margin-bottom: 50px;
}

.prices h2 {
    text-align: center;
    font-size: 30px;
}

.price-list {
    display: flex;
    justify-content: space-between;
    padding-left: 141px;
    padding-right: 141px;
    align-items: flex-end;
}

.price-list h3 {
    font-size: 24px;
    text-align: center;
    background: #445161;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.standart {
    width: 300px;
}

.price {
    background: #445162;
}

.price p {
    font-size: 40px;
    text-align: center;
    margin: 0;
    background: #fff;
    margin-left: 2px;
    margin-right: 2px;
}

.price-descr {
    background-color: #445161;
    padding: 19px;
}

.price-descr ol {
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 19px;
    color: #fff;
    margin-bottom: 19px;
    line-height: 24px;  
}

.buy-button {
    text-decoration: none;
    color: #445161;
    background-color: #fff;
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
}


.premium {
    width: 300px;
}

.lux {
    width: 300px;
}

.footer {
    width: 1272px;
    height: 509px;
    margin: 0 auto;
    background: #445162;
    display: block;
    padding-top: 25px;
    
}

.footer h2 {
    color: #fff;
    font-size: 30px;
    margin: 0;
    margin-bottom: 43px;
    text-align: center;
}

.contacts {
    display: flex;
    align-items: flex-start;
}

.footer .contacts form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 247px;
}

.footer .contacts form > * {
    width: 503px;
    border-radius: 5px;
    margin-bottom: 18px;
}

.footer .contacts form > input, .button {
    height: 43px;
}

.footer .contacts form > textarea {
    height: 173px;
}

.footer .contacts form .button {
    display: flex;
    width: 143px;
    padding: 12px 50px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
    margin: 0 auto;
}

.button:hover {
    background-color: darkgrey;
}

.button:active {
    background-color: darkgrey;
}

.button:focus {
    color: antiquewhite;
}

.media-list {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-top: 5px;
}

.contacts-list > div {
    font-size: 16px;
    color: #fff;
    display: flex;
    margin-bottom: 26px;
}

.contacts-list > div > img {
    width: 20px;
    height: 20px;
}

.contacts-list > div > span {
    display: block;
    margin-left: 10px;
    line-height: 24px;
    
}

.social-media a {
    color: #fff;
    font-size: 44px;
    text-decoration: none;
    margin-right: 7px;
}

.social-media a:hover,:focus,:active {
    color: darkgrey;
}
    
.footer p {
    text-align: center;
    color: #445161;
    margin-top: 80px;
    margin-bottom: 20px;
}